.login_container{
    background: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height:100%;
    width: 100%;
}

.login_sub_container{
    background: #F1FAEE;
    position: absolute;
    width: 35%;
    height: 70%;
    border-radius: 6px;
}

.login_input{
    margin: 7% auto;
    width: 70%;
}

.login_form {
    position: relative;
    width: 100%;
}

.login_button_container{
    display: flex;
    justify-content: center;
    margin: 15% auto;
}


.login_title{
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 45px;
    text-align: center;
}

.login_error{
    color: #d62828;
    text-align: center;
    font-size: 17px;
}
.login_fpw{
    position: absolute;
    right: 0;
    margin: -5% 15%;
    font-size: small;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.login_fpw:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.9);
}