.container {
    position: relative;
    top: 20%;
    left: 5%;
    width: 90%;
}

.table{
    position: relative;
}

.deleteIcon {
    display: inline;
    margin-left: 20%;
}

.deleteIcon:hover{
    cursor: pointer;
    color: #d62828;
}


.editIcon{
    display: inline;
    margin-left: 20%;
}

.editIcon:hover{
    cursor: pointer;
    color: green;
}

