.container {
    position: absolute;
    width: 35%;
    height: 70%;
    top: 15%;
    bottom: 15%;
    left: 50%;
}

.title{
    font-size: 35px;
    text-align: center;
}

.label{
    position: relative;
    font-size: 18px;
    width: 20%;
    color: rgba(0, 0, 0, 0.75);
    left: 3%;
}
.input{
    position: relative;
    left: 5%;
    border: 1px solid rgba(68, 66, 66, 0.75);
    box-sizing: border-box;
    border-radius: 5px;
    width: 70%;
    background: #F1FAEE;
    color: rgba(68, 66, 66, 0.75);
}

.button {
    position: relative;
    background: #00A896;
    color: #F1FAEE;
    border: #00A896;
    left:57.5%;
    width: 40%;
}

.error{
    position: relative;
    left: 25%;
    height: 10%;
    font-size: 13px;
}