.container{
    position: absolute;
    width: 35%;
    height: 70%;
    top: 15%;
    bottom: 15%;
    left: 50%;
}

.input{
    margin: 7% auto;
    width: 70%;
}

.form {
position: relative;
width: 100%;
}

.buttonContainer{
    width: auto;
    margin-top: 15%;
}

.button{
    position: relative;
    left: 41%;
    margin: 0 auto;
}

.button:hover{
    background: #008d7b;
}

.title{
    font-size: 45px;
    text-align: center;
}


.fpw{
    position: absolute;
    right: 0;
    margin: -5% 15%;
    font-size: small;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.fpw:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.9);
}