.subcontainer{
    background: #F1FAEE;
    position: absolute;
    width: 35%;
    height: 70%;
    border-radius: 6px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #343a40;
    position: absolute;
    height: 100%;
    width: 100%;
}

.input{
    margin: 7% auto;
    width: 70%;
}

.form {
position: relative;
width: 100%;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    margin: 15% auto;
}


.title{
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 45px;
    text-align: center;
}

.error{
    color: #d62828;
    text-align: center;
    font-size: 17px;
}
.fpw{
    position: absolute;
    right: 0;
    margin: -5% 15%;
    font-size: small;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.fpw:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.9);
}