.container{
    position: absolute;
    width: 35%;
    height: 70%;
    top: 15%;
    bottom: 15%;
    left: 50%;
}

.title{
    font-size: 45px;
    text-align: center;
}

.input{
    margin: 7% auto;
    width: 70%;
}

.form {
    position: relative;
    width: 100%;
}

.buttonContainer{
    width: auto;
}

.button{
    position: relative;
    left: 41%;
}