.container {
    height: 100%;
    position: absolute;
    width: 55%;
    top: 0;
    bottom: 15%;
    left: 32.5%;
}

.title{
    position: relative;
    top: 5%;
    font-size: 35px;
    text-align: center;
}

.input{
    margin: 4% auto;
    width: 70%;
}


.button{
    display: flex;
    justify-content: center;
    margin: 0% auto;
}

.form {
    position: relative;
    top: 5%;
    width: 100%;
}
