.container {
    height: 100%;
    position: absolute;
    width: 60%;
    top: 0%;
    bottom: 15%;
    left: 30%;
}

.title{
    position: relative;
    top: 5%;
    font-size: 35px;
    text-align: center;
}

.input{
    margin: 3% auto;
    width: 95%;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: center;
    margin: 4%;
}
.closeIcon{
    position: absolute;
    right: 0.7%;
    top: 2%;
    color: rgba(52,58,64,0.5);
}

.closeIcon:hover{
    cursor: pointer;
    color: rgba(52,58,64,1);
}

.form {
    position: relative;
    top: 8%;
    width: 100%;
}

.textField{
    margin-top: 5%;
}

.select_container{
    display: flex;
}

.select{
    width: 45%;
    margin: auto;
}

.category{
    width: 95%;
    margin: 4% auto;

}
.left{
    width: 45%;
    height: 100%;
    margin-right: 1%;
    margin-left: 2%;
}

.right{
    width: 50%;
    height: 100%;
}

.flex_container{
    display: flex;
    flex-direction: row;
}