.container {
    position: absolute;
    width: 55%;
    height: 100%;
    left: 32.5%;
    display: flex;
    justify-content: center;
}

.searchContainer {
    position: absolute;
    top: 5%;
    width: 50%;
    color: #343a40;
    display: flex;
    align-content: center;
}

.list{
    margin-top: 15%;
    width: 100%;
}

.searchField{
    width: 50%;
    margin-left: 4%;

}
