.container {
    height: 100%;
    position: absolute;
    width: 56.25%;
    top: 0%;
    bottom: 15%;
    left: 43.75%;
}

.title{
    position: relative;
    top: 5%;
    font-size: 35px;
    text-align: center;
}

.chips{
    display: flex;
    flex-wrap: wrap;
}

.chip {
    margin: 1%
}

.input{
    margin: 4% auto;
    width: 70%;
}

.select_input{
    width: 70%;
    margin: 4% auto;
}

.select{
    width: 100%;
}

.button{
    position: relative;
    left: 43.25%;
}

.closeIcon{
    position: absolute;
    right: 0.7%;
    top: 2%;
    color: rgba(52,58,64,0.5);
}

.closeIcon:hover{
    cursor: pointer;
    color: rgba(52,58,64,1);
}

.form {
    position: relative;
    top: 10%;
    width: 100%;
}